
{% if entity.instance.isAChannelAdvisorOrder()  %}
	{% include "admin/fields/marketplaces/channelAdvisor/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.isAliexpressOrder() %}
	{% include "admin/fields/marketplaces/aliExpress/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.isAShopifyOrder()  %}
	{% include "admin/fields/marketplaces/shopify/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.isAFnacOrder()  %}
	{% include "admin/fields/marketplaces/fnac/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.isAMiraklOrder()  %}
	{% include "admin/fields/marketplaces/mirakl/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.isAMiraviaOrder()  %}
	{% include "admin/fields/marketplaces/arise/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.isAManoManoOrder() %}
	{% include "admin/fields/marketplaces/manomano/billingContent.html.twig" with {'field': field} %}
{% else  %}
	<div class="">Not instanced {{entity.instance.channel}} </div>
{% endif %}