
{% if entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_CHANNELADVISOR')  %}
	{% include "admin/fields/marketplaces/channelAdvisor/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_ALIEXPRESS') 
		or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_FITBITEXPRESS') %}
	{% include "admin/fields/marketplaces/aliExpress/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_OWLETCARE') 
		 or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_MINIBATT')
		 or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_FLASHLED') 
		 or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_FITBITCORPORATE') %}
	{% include "admin/fields/marketplaces/shopify/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_OWLETCARE')  %}
	{% include "admin/fields/marketplaces/shopify/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_DECATHLON') 	
	or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_LEROYMERLIN')  
	or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_BOULANGER')  %}
	{% include "admin/fields/marketplaces/mirakl/billingContent.html.twig" with {'field': field} %}
{% elseif entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_MANOMANO_FR') 	
	or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_MANOMANO_ES')  
	or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_MANOMANO_DE')  
	or entity.instance.channel == constant('App\\Entity\\IntegrationChannel::CHANNEL_MANOMANO_IT')  %}
	{% include "admin/fields/marketplaces/manomano/billingContent.html.twig" with {'field': field} %}
{% else  %}
	<div class="">Not instanced {{entity.instance.channel}} </div>
{% endif %}