{% set classIn  = (category and category|length>0) ? 'fas fa-check' : 'fas fa-times' %}
{% if  nb > 0 and category and category|length > 0  %}
        {% set classNb = 'badge-success' %}
{% elseif nb > 0 %}
     {% set classNb = 'badge-danger' %}
{% else %}
       {% set classNb = 'badge-secondary' %}
{% endif %}   


<div class="popover__ext" style="width:35px!important"><i class="{{classIn}}"></i> <span class="badge {{classNb}}"> {{nb}}</span> 
</div>
{% if category and category|length > 0  %}
<div class="popover__wrapper"><i class="fas fa-info-circle popover__title"></i>
  <div class="popover__content">
    <div class="popover__message">
        Category code {{category}}
    </div>
  </div>
</div>
{% endif %}