
<div class="">
	<div style="float:right;">
		{{event.object.getLitteralPrice}}
	</div>
	<i class="fas fa-exchange-alt"></i> <strong>Reimbursement from Fba</strong><br/>
	{{event.object.quantityReimbursedTotal}} x {{event.object.sku}}
</div>
