{% if  entity.instance.status == constant('App\\Entity\\WebOrder::STATE_ERROR') %}
	{% set classColor = 'danger' %}
{% elseif  entity.instance.status == constant('App\\Entity\\WebOrder::STATE_SYNC_TO_ERP') %}
	{% set classColor = 'primary' %}
{% elseif  entity.instance.status == constant('App\\Entity\\WebOrder::STATE_INVOICED') %}
	{% set classColor = 'info' %}
{% elseif  entity.instance.status == constant('App\\Entity\\WebOrder::STATE_COMPLETE') %}
	{% set classColor = 'success' %}
{% elseif  entity.instance.status == constant('App\\Entity\\WebOrder::STATE_CANCELLED') %}
	{% set classColor = 'warning' %}
{% else %}
	{% set classColor = 'secondary' %}
{% endif %}

<div class="" style="{% if entity.instance.hasDelayTreatment and entity.instance.status != constant('App\\Entity\\WebOrder::STATE_CANCELLED') %}min-width:140px{% endif %}">
	<span class="badge badge-{{classColor}}">
		{{entity.instance.getStatusLitteral}}
	</span>
	{% if entity.instance.hasDelayTreatment and entity.instance.status != constant('App\\Entity\\WebOrder::STATE_CANCELLED')  %}
	<span class="popover__wrapper">
		<i class="fas fa-exclamation-triangle text-danger popover__title"></i>
		<div class="popover__content">
			<div class="popover__message">
				{{entity.instance.getDelayProblemMessage}}
			</div>
		</div>
	</span>
	{% endif %}
</div>