<div class="popover__ext">{{ field.formattedValue }}</div>
<div class="popover__wrapper"><i class="fas fa-info-circle popover__title"></i>
  <div class="popover__content">
    <div class="popover__message">
     <table class="table datagrid" >
        <tr>
          <td  class="tfoot-col-label">BC Real Amazon Stock</td>
          <td data-label="BC Real Amazon Stock" class="text-left field-text">{{entity.instance.businessCentralStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">BC Amazon sales not integrated</td>
          <td data-label="BC Amazon sales not integrated" class="text-left field-text">{% if entity.instance.soldStockNotIntegrated > 0 %}-{% endif %}{{entity.instance.soldStockNotIntegrated}} </td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">BC Amazon returns not integrated</td>
          <td data-label="BC Amazon returns not integrated" class="text-left field-text">{{entity.instance.returnStockNotIntegrated}}</td>
        </tr>
     </table> 
    </div>
  </div>
</div>
