{{ field.formattedValue }}
<div class="popover__wrapper"><i class="fas fa-info-circle popover__title"></i>
  <div class="popover__content">
    <div class="popover__message">
     <table class="table datagrid" >
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Working Qty</td>
          <td data-label="FBA Inbound Working Qty" class="text-left field-text">{{entity.instance.fbaInboundWorkingStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Shipped Qty</td>
          <td data-label="FBA Inbound Shipped Qty" class="text-left field-text">{{entity.instance.fbaInboundShippedStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Receiving Qty</td>
          <td data-label="FBA Inbound Receiving Qty" class="text-left field-text">{{entity.instance.fbaInboundReceivingStock}}</td>
        </tr>
     </table> 
    </div>
  </div>
</div>