{{ field.formattedValue }}
<div class="popover__wrapper"><i class="fas fa-info-circle popover__title"></i>
  <div class="popover__content">
    <div class="popover__message">
     <table class="table datagrid" >
        <tr>
          <td>FBA Inbound Working Qty</td>
          <td>{{entity.instance.fbaInboundWorkingStock}}</td>
        </tr>
        <tr>
          <td>FBA Inbound Shipped Qty</td>
          <td>{{entity.instance.fbaInboundShippedStock}}</td>
        </tr>
        <tr>
          <td>FBA Inbound Receiving Qty</td>
          <td>{{entity.instance.fbaInboundReceivingStock}}</td>
        </tr>
     </table> 
    </div>
  </div>
</div>